<div class="d-flex flex-wrap bg-secondary rounded-pill align-items-end" style="height: 7vh;">
    <!-- Input para query. -->
    <div class="d-flex form-group ml-2 mr-auto">
        <input id="texto" type="search" class="form-control form-control-sm col-sm-12" placeholder="Type your query"
            aria-describedby="button-addon3">
        <div>
            <button type="button" class="btn btn-sm btn-info" onclick="pageRanking()">
                <span class="glyphicon glyphicon-search"></span> Search
        </div>
        </button>
    </div>
    <!-- Input para a data. -->
    <div class="d-flex form-group">
        <label for="data"><span class="badge badge-dark">Base Date:</span></label>
        <div>
            <input id="data" class="form-control form-control-sm" type="date" value="2016-04-01">
        </div>
    </div>
    <!-- Input para a quantidade de meses para o intervalo de pesquisa. -->
    <div class="d-flex form-group ml-auto">
        <label for="meses"><span class="badge badge-dark">Months:</span></label>
        <div>
            <input id="meses" class="form-control form-control-sm col-sm-4" type="number" value="3" min="1" max="4">
        </div>
    </div>
    <!-- Input para a quantidade de arquivos mostrados no ranking. -->
    <div class="d-flex form-group mr-auto">
        <label for="n_arquivos_ranking"><span class="badge badge-dark">News:</span></label>
        <div>
            <input id="n_arquivos_ranking" class="form-control form-control-sm col-sm-4" type="number" value="12"
                min="3" max="12">
        </div>
    </div>
    <!-- Botão para mostrar div de pesquisa avançada. -->
    <div class="mr-2">
        <p>
            <button class="btn btn-dark btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Advanced Search
            </button>
        </p>
    </div>
</div>