{% extends 'base.html' %}
{% load static %}

{% block title %} Story Tracker - Folha de SP {% endblock %}

{% block content %}
<div id='timeline-embed' style="width: 100%; height: 100vh;"></div>

{% endblock %}
{% block scripts %}
<!-- Coloque seus scripts aqui. -->
<script type="text/javascript">

    //var documentos = "{% static 'json/timeline-teste.json' %}"
    var documentos = {{ documentos | safe }};
    console.log(documentos[0]);
    
    var slide_inicial = documentos.shift();
    var options = {
        start_at_slide: slide_inicial,
        timenav_height_percentage: 20
    }
    timeline = new TL.Timeline('timeline-embed', documentos[0], options);
</script>
{% endblock %}